<tr><td>ID</td><td>Context</td><td>updateTime</td><td>sort</td></tr>

{{#each result}}
	<tr><td>{{solrID}}</td><td>{{context}}</td><td>{{dateTimeStr updateTime}}</td><td>{{sort}}</td></tr>
{{/each}}