<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
       default-lazy-init="true">
	
	<bean class="com.wang.core.util.ApplicationPropertyConfigurer" scope="singleton">
		<property name="location" value="classpath:config/application.properties" />
	</bean>
	
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:config/conf.properties" />
	</bean>

	<bean id="mySolrClient" class="org.apache.solr.client.solrj.impl.HttpSolrClient">
        <constructor-arg type="java.lang.String" value="${pom.solr.host}"/>
    </bean>

    <bean id="mySolrQuery" class="org.apache.solr.client.solrj.SolrQuery" scope="prototype"/>

	<import resource="classpath:config/datasources.xml" />
	<import resource="classpath*:memcached/spring-memcached.xml"/>
	
</beans>
